@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Helvetica", sans-serif;
}

a.active hr {
  display: block;
}

a.active {
  font-weight: 600;
}

.smNav.active,
.smNav:hover {
  background-color: #f8f8f6;
}
